.contact-form{
  display: inline-block;
  background-color: #EDDCD2;
  padding: 10px 15px;
  margin-bottom: 30px;
  border: solid white 5px;
}

.frame{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 0px;
  padding: 15px;
  text-align: center;
}

.wrapper{
  width: 400px;
  margin: 5% auto;
}

.wrapper div {
  padding: 2px 0px;
}

.form-area {
  flex-direction: row;
}

.name {
  display: flex;
}

.name div{
  padding-right: 10px;
  flex: 1;
}

button {
  width: 98%;
  height: 30px;
  background-color: #e6b8a2;
}
