.profile, .work-experience, .education, .recommendations  {
  margin: 30px;
  text-align: center;
}

.profile img {
  display: block;
  width: 250px;
  height: 263px;
  align: center;
  margin: 20px auto;
  border: solid white 10px;
}


/* PROFILE */
#occupation, .location {
  font-style: italic;
}
.profile {
  text-align: center;
  margin: 0px 150px;
}
button {
  border-radius: 20px;
  background-color: #A9A9A9;
  color: white;
  border: none;
  padding: 10px;
}
button a {
  color: white;
  text-decoration: none;
}

/* PROJECTS */
.project :first-child {
  flex: 0;
}
.project :last-child {
  flex: 2;
  margin: 15px 30px;
}
.current-projects {
  background-color: #EDDCD2;
  border-style: dashed;
  border-color: white;
  margin: 60px 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.current-projects .col {
  flex: 1;
}
.current-projects img {
  width: 400px;
  height: 400px;
  border-style: solid;
  border-color: white;
  margin: 0px;
}

.current-projects h2 {
  font-style: italic;
}
/*Work experience*/
.work-experience {
  margin: 50px 0; /*right&left = 100px*/
  display: block;
  /* border: 3px solid #EDDCD2; */
  padding: 50px 0px;
  background-color: white;
}

.past-work .col {
  flex: 1;
}

.past-work {
  margin: auto 25px;
  justify-content: space-between;
  gap: 25px;
}
.past-work .col {
  flex: 1;
}

.past-work div {
  width: 30%;
}
.past-work img {
  width: 275px;
}

.past-work {
  display: flex;
  justify-content: space-between;
}
.past-work .col{
  width: 100%;
  height:100%;
  margin: 10px;
}

@media (max-width: 400px) {
  .past-work, .current-projects {
    display: block;
    div {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

.past-work .col {
  border: solid #e6b8a2 4px;
  padding: 30px;
}

/*Skills*/
.skills {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  padding-left: 175px;
  padding-right: 125px;
}

.skills .col {
  padding: 0px;
  margin: 0px;
}


/*Education*/
.education {

}

/*Recommendaations*/
.recommendations{
  display: grid;
  background-color: #fff1e6;
}
