/* References:
black choclate headers: #141301ff
lighter gray body: #343434
champagne pink: #EDDCD2
tumbleweed menu: #e6b8a2
brown hover: #cb997e


/* Global sytlesheet */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin:0px 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff1e6; /*#fff1e6*/
}

main {
  margin-top: 55px;
}

h2, h3, h4 {
  color: #141301ff;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: #141301ff;
  padding: 0px;
  font-family: 'Amatic SC', cursive;
  font-size: 64px;
  margin-bottom: 0;
}

h1, h2 {
  text-align: center;
}

h2{
  margin: 10px 5px;
}

h3{
  margin: 5px auto;
}

h4{
  font-size: 50px;
  margin: 0px 0px 0px 0px;
}

nav .pages li {
  float: right;
}

nav .pages a {
  display: block;
  color: white;
  padding: 17px;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #e6b8a2;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
nav .pages a:hover {
  background-color: #cb997e;
}

.menu {
  position: fixed;
  top: 0;
  right:0;
  left: 0;
}

.dot-menu {
  display: block;
  background-color: #EDDCD2;
  padding: 5px;
  position:fixed;
  top: 70px;
  right:10px;
  border-radius: 20px;
}

.home, .extra, .contact, .rec, .about {
  /* background-color: #cb997e; */
  color: grey !important;
  background-color: white;
}

.home-logo {
  float:left;
  width: 125px;
  height: 50px;
}

.flex-grid {
  display: flex;
}


/* footer */
.social-media {
  display: block;
  border: solid black 1px;
  padding: 5px auto;
  width: 100%;
  margin-top: 0px;
  text-align: center;
  background-color: #e6b8a2;
}

.social-media ul {
  list-style-type: none;
}

.social-media img {
  width: 50px;
}
